.background-white {
    -fx-background-color: #ffffff;
}

.background-purple {
    -fx-background-color: #611fb7;
}

.background-black {
    -fx-background-color: #000000;
}

.background-light-black {
    -fx-background-color: #454545;
}

.text-white {
    -fx-text-fill: #ffffff;
}

.text-light-purple {
    -fx-text-fill: #a489d4;
}

.text-purple {
    -fx-text-fill: #611fb7;
}

.text-light-gray {
    -fx-text-fill: #c9c9c9;
}

.text-gray {
    -fx-text-fill: #a6a6a6;
}

.list-view .list-cell:even {
    -fx-background-color: black;
    -fx-text-fill: white;
}

.list-view .list-cell:odd {
    -fx-background-color: black;
    -fx-text-fill: white;
}

.movie-cell {
    -fx-background-color: black;
    -fx-padding: 2;
}

.search-field {
    -fx-font-size: 13.5;
}

.filter-combo-box {
    -fx-background-color: white;
    -fx-font-size: 12;
    -fx-padding: 0 0 0 5;
}

.button {
    -fx-background-color: #611fb7;
    -fx-text-fill: #ffffff;
    -fx-font-size: 13.5;
}

.red-alert {
    -fx-background-color: red;
    -fx-text-fill: white;
    -fx-padding: 10px;
}