
.background-purple {
    -fx-background-color: #611fb7;
}

.background-black {
    -fx-background-color: #000000;
}

.background-light-black {
    -fx-background-color: #454545;
}

.text-white {
    -fx-text-fill: #ffffff;
}

.text-light-purple {
    -fx-text-fill: #a489d4;
}

.text-light-gray {
    -fx-text-fill: #c9c9c9;
}

.text-gray {
    -fx-text-fill: #a6a6a6;
}

.list-view .list-cell:even {
    -fx-background-color: black;
    -fx-text-fill: white;
}

.list-view .list-cell:odd {
    -fx-background-color: black;
    -fx-text-fill: white;
}

.movie-cell {
    -fx-background-color: black;
    -fx-padding: 2;
}

.filter-combo-box {
    -fx-background-color: white;
    -fx-text-fill: #ffffff;
    -fx-font-family: "Hiragino Sans W2";
    -fx-font-size: 11.5;
}