
.background-red {
    -fx-background-color: #cf1717;
}

.background-black {
    -fx-background-color: #000000;
}

.background-light-black {
    -fx-background-color: #454545;
}

.text-white {
    -fx-text-fill: #ffffff;
}

.text-red {
    -fx-text-fill: #cf1717;
}

.text-light-gray {
    -fx-text-fill: #c9c9c9;
}

.text-gray {
    -fx-text-fill: #a6a6a6;
}

.list-view .list-cell:even {
    -fx-background-color: black;
    -fx-text-fill: white;
}

.list-view .list-cell:odd {
    -fx-background-color: black;
    -fx-text-fill: white;
}

.movie-cell {
    -fx-background-color: black;
    -fx-padding: 2;
}

.filter-combo-box {
    -fx-background-color: white;
    -fx-text-fill: #ffffff;
}